.ControlBar {
    padding-bottom: 5%;
    height: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;  
}

.ControlBar-item-Search {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.ControlBar-item:nth-child(1) {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 70%;
}

.ControlBar-item:nth-child(2) {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}