.ModalHuge {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 25px #0000001A;
    margin-bottom: 2%;
    border-radius: 5px;
    opacity: 1;
    padding: 2% 3% 3% 3%;
    list-style: none;
}


.ModalHuge section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    align-self: center;
    margin-right: 1px;
    margin-bottom: 20px;
    

    text-align: left;
    letter-spacing: 0.4px;
    color: #8F8A9B;
    opacity: 1;
}

.ModalHuge section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    align-self: center;
    margin-right: 1px;
}