.buttom-add {
    top: 103px;
    left: 63px;
    width: 90px;
    height: 25px;

    border: none;
    justify-content: space-between;
    transition:  width height 0.2s;
    background: #365DF0 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
}

.buttom-add p {
    color: white;
}
.buttom-add:hover{
    background: #2F55CC 0% 0% no-repeat padding-box;
}

.buttom-add:active{
    background: #244AA8 0% 0% no-repeat padding-box;
}