.TagList ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-items: center;
    align-items: center;
}

.TagList li {
    margin-right: 3px;
    padding: 3px;
}