.SearchBox {
    height: 100%;
    background: #F5F4F6 0% 0% no-repeat padding-box;
    border: 1px solid #EBEAED;
    border-radius: 5px;
    opacity: 1;

    font: 400 20px 'Source Sans Pro';
}

.SearchBox::placeholder {
    font: 400 20px 'Source Sans Pro';
}