
.IconMostSmallest{   
    height: 10px;
    width: 10px; 
}

.IconSmallest{
    height: 12px;
    width: 12px;
}

.IconSmaller{
    height: 15px;
    width: 15px;
}

.IconSmall{
    height: 20px;
    width: 20px;
}
 
.IconMedium{
    height: 25px;
    width: 25px;
}
 
.IconBig{
    height: 35px;
    width: 35px;
}
 
.IconBigger {
    height: 45px;
    width: 45px;
}
 
.IconBiggest {
    height: 60px;
    width: 60px;
}
 
.IconMostBiggest{
    height: 75px;
    width: 75px;
}

.Chat-2px {
    background: transparent url('./svg/Chat-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Check-2px {
    background: transparent url('./svg/Check-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Chevron-Down-2px {
    background: transparent url('./svg/Chevron-Down-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Chevron-Left-2px {
    background: transparent url('./svg/Chevron-Left-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Chevron-Right-2px {
    background: transparent url('./svg/Chevron-Right-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Chevron-Up-2px {
    background: transparent url('./svg/Chevron-Up-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Close-2px {
    background: transparent url('./svg/Close-2px-bold.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Dark-Mode-2px {
    background: transparent url('./svg/Dark-Mode-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Exclusion-5px {
    background: transparent url('./svg/Exclusion-5px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Folder-2px {
    background: transparent url('./svg/Folder-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Hidden-folder-2px {
    background: transparent url('./svg/Hidden-folder-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Alarm-2px {
    background: transparent url('./svg/Alarm-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Alarm-Alt-2px {
    background: transparent url('./svg/Alarm-Alt-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Arrow-Down-2px {
    background: transparent url('./svg/Arrow-Down-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Arrow-Left-2px {
    background: transparent url('./svg/Arrow-Left-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Arrow-Right-2px {
    background: transparent url('./svg/Arrow-Right-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Arrow-Up-2px {
    background: transparent url('./svg/Arrow-Up-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Attach-2px {
    background: transparent url('./svg/Attach-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Attachment-2px {
    background: transparent url('./svg/Attachment-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Bookmark-2px {
    background: transparent url('./svg/Bookmark-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Calculator-2px {
    background: transparent url('./svg/Calculator-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Calendar-2px {
    background: transparent url('./svg/Calendar-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Cart-2px {
    background: transparent url('./svg/Cart-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}


.Chat-2px {
    background: transparent url('./svg/Chat-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Check-2px {
    background: transparent url('./svg/Check-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Chevron-Down-2px {
    background: transparent url('./svg/Chevron-Down-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Chevron-Left-2px {
    background: transparent url('./svg/Chevron-Left-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Chevron-Right-2px {
    background: transparent url('./svg/Chevron-Right-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Chevron-Up-2px {
    background: transparent url('./svg/Chevron-Up-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Code-2px {
    background: transparent url('./svg/Code-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Code-Bug-2px {
    background: transparent url('./svg/Code-Bug-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Code-File-2px {
    background: transparent url('./svg/Code-File-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Comment-2px {
    background: transparent url('./svg/Comment-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Comments-2px {
    background: transparent url('./svg/Comments-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Credit-Card-2px {
    background: transparent url('./svg/Credit-Card-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Dark-Mode-2px {
    background: transparent url('./svg/Dark-Mode-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Data-File-2px {
    background: transparent url('./svg/Data-File-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Delete-2px {
    background: transparent url('./svg/Delete-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Diamond-2px {
    background: transparent url('./svg/Diamond-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Download-2px {
    background: transparent url('./svg/Download-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Download-File-2px {
    background: transparent url('./svg/Download-File-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Eletricity-2px {
    background: transparent url('./svg/Eletricity-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.File-2px {
    background: transparent url('./svg/File-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.File-Check-2px {
    background: transparent url('./svg/File-Check-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Flag-2px {
    background: transparent url('./svg/Flag-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Folder-2px {
    background: transparent url('./svg/Folder-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Folder-Alt-2px {
    background: transparent url('./svg/Folder-Alt-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Fork-2px {
    background: transparent url('./svg/Fork-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Hidden-folder-2px {
    background: transparent url('./svg/Hidden-folder-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Hidden-folder-Alt-2px {
    background: transparent url('./svg/Hidden-folder-Alt-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Home-2px {
    background: transparent url('./svg/Home-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Idea-2px {
    background: transparent url('./svg/Idea-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Image-2px {
    background: transparent url('./svg/Image-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Image-File-2px {
    background: transparent url('./svg/Image-File-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Journal-2px {
    background: transparent url('./svg/Journal-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Like-2px {
    background: transparent url('./svg/Like-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Link-2px {
    background: transparent url('./svg/Link-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Locked-2px {
    background: transparent url('./svg/Locked-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Logo-Bossa {
    background: transparent url('./svg/Logo-Bossa.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Mail-2px {
    background: transparent url('./svg/Mail-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Menu-2px {
    background: transparent url('./svg/Menu-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.More-2px {
    background: transparent url('./svg/More-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Multiple-Files-2px {
    background: transparent url('./svg/Multiple-Files-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Music-File-2px {
    background: transparent url('./svg/Music-File-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Not-visible-2px {
    background: transparent url('./svg/Not-visible-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Open-File-2px {
    background: transparent url('./svg/Open-File-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Paper-Stack-2px {
    background: transparent url('./svg/Paper-Stack-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Pause-2px {
    background: transparent url('./svg/Pause-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Pin-2px {
    background: transparent url('./svg/Pin-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Play-2px {
    background: transparent url('./svg/Play-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Points-2px {
    background: transparent url('./svg/Points-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Position-2px {
    background: transparent url('./svg/Position-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Plus-2px {
    background: transparent url('./svg/Plus-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Quality-2px {
    background: transparent url('./svg/Quality-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Reccomend-2px {
    background: transparent url('./svg/Reccomend-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Recycle-2px {
    background: transparent url('./svg/Recycle-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Rotate-2px {
    background: transparent url('./svg/Rotate-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Settings-2px {
    background: transparent url('./svg/Settings-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Sheet-File-2px {
    background: transparent url('./svg/Sheet-File-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Shuffle-2px {
    background: transparent url('./svg/Shuffle-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Signal-2px {
    background: transparent url('./svg/Signal-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Silent-2px {
    background: transparent url('./svg/Silent-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Social-2px {
    background: transparent url('./svg/Social-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Stackes-2px {
    background: transparent url('./svg/Stackes-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Support-2px {
    background: transparent url('./svg/Support-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Sync-2px {
    background: transparent url('./svg/Sync-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Team-2px {
    background: transparent url('./svg/Team-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Text-Check-2px {
    background: transparent url('./svg/Text-Check-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Tool-2px {
    background: transparent url('./svg/Tool-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Unlike-2px {
    background: transparent url('./svg/Unlike-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Unlocked-2px {
    background: transparent url('./svg/Unlocked-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Upload-2px {
    background: transparent url('./svg/Upload-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.User-2px {
    background: transparent url('./svg/User-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Video-2px {
    background: transparent url('./svg/Video-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Video-File-2px {
    background: transparent url('./svg/Video-File-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Visible-2px {
    background: transparent url('./svg/Visible-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Volume-2px {
    background: transparent url('./svg/Volume-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Volume-Down-2px {
    background: transparent url('./svg/Volume-Down-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Volume-Up-2px {
    background: transparent url('./svg/Volume-Up-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Warning-2px {
    background: transparent url('./svg/Warning-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Write-2px {
    background: transparent url('./svg/Write-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Logo-Bossa {
    background: transparent url('./svg/Logo-Bossa.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Play-2px {
    background: transparent url('./svg/Play-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Reccomend-2px {
    background: transparent url('./svg/Reccomend-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Warning-2px {
    background: transparent url('./svg/Warning-2px.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}

.Warning-2px-1 {
    background: transparent url('./svg/Warning-2px-1.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position: center center;
    background-size: cover;
}  