.modal-hide  {
    display: none;
}

.modal-show  {
    display: block;
}

.modal-backdrop{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {

    overflow: auto;
    position: absolute;

    box-shadow: rgba(0, 0, 0, 0.5);
    background: white;
    
    border-radius: 5px;

    top: 10%;
    bottom: auto;
    left: 30%;
    right: 30%;
    
    max-width: 100%;
    max-height: 100%;

    padding: 2em 3em;

}