.TagItem {
    list-style: none;
    background: #ffffff;
    border: 1px solid #ebeaed;
    border-radius: 5px;
    opacity: 1;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.TagLabel {
    font-size: 20px;
    text-align: left;
}

.TagDelete {

    margin-right: 5px;
    margin-left: 5px;

}