.buttom-delete {
    border: none;
    transition:  transform 0.01s;
    width: 12px;
    height: 12px;
}

.buttom-delete:hover{
    transform: translateY(1px);
}

.buttom-delete:active{
    transform: translateY(4px);
}