.Form-Container {
    background: white;
    height: 100%;
    width: 100%;
}

.Form-Footer {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
}

.Form-Header {
    display: flex;
    align-items: center ;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-top: 5px;
    margin-bottom: 20px;
}

.Form-Header-Title {
    margin-left: 10px;
}