@import './styles/typography.css';
@import './styles/colors.css';
@import './icons/icons.css';

* {
  margin: 0;
  padding: 0;
  outline: 0;
}


body {
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing : antialiased;
  -ms-overflow-style: none;
  overflow: auto;
}

#root{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
