.text-area-label {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    font-size: 20px;
    letter-spacing: 0.4px;
    text-align: left;
    color: #170c3a;
}

.text-area {
    background: #F5F4F6;
    border: 1px solid #EBEAED;
    border-radius: 5px;
    height: 180px;
    margin-bottom: 10px;
    margin-top: 10px;
    opacity: 1;
    resize: none;
}