.White {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.DarkWhite {
    background: #FCFCFD 0% 0% no-repeat padding-box;
    opacity: 1;
}

.DarkerWhite {
    background: #F5F4F6 0% 0% no-repeat padding-box;
    opacity: 1;
}

.DarkestWhite {
    background: #EBEAED 0% 0% no-repeat padding-box;
    opacity: 1;
}

.MostDarkestWhite {
    background: #DEDCE1 0% 0% no-repeat padding-box;
    opacity: 1;  
}

.Ink {
    background: #170C3A 0% 0% no-repeat padding-box;
    opacity: 1;
}

.LightInk {
    background: #8F8A9B 0% 0% no-repeat padding-box;
    opacity: 1;  
}

.LighterInk {
    background: #B1ADB9 0% 0% no-repeat padding-box;
    opacity: 1;    
}

.LightestInk {
    background: #C7C4CD 0% 0% no-repeat padding-box;
    opacity: 1;  
}

.DarkerBlue {
    background: #244AA8 0% 0% no-repeat padding-box;
    opacity: 1;
}

.DarkBlue {
    background: #2F55CC 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Blue {
    background: #365DF0  0% 0% no-repeat padding-box;
    opacity: 1;
}
.LightBlue {
    background: #9AAEF7 0% 0% no-repeat padding-box;
    opacity: 1;
}
.LighterBlue {
    background: #B9C6FA 0% 0% no-repeat padding-box;
    opacity: 1;
}
.LightestBlue {
    background: #CAD6FC 0% 0% no-repeat padding-box;
    opacity: 1;
}
.MostLightestBlue {
    background: #E1E7FD 0% 0% no-repeat padding-box;
    opacity: 1;
}
.DarkerGreen {
    background: #0E995D 0% 0% no-repeat padding-box;
    opacity: 1;
}
.DarkGreen {
    background: #10B26C 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Green {
    background: #12DB89 0% 0% no-repeat padding-box;
    opacity: 1;
}
.LightGreen {
    background: #88EDC4 0% 0% no-repeat padding-box;
    opacity: 1;
}
.LighterGreen {
    background: #B7F7D8 0% 0% no-repeat padding-box;
    opacity: 1;
}
.LightestGreen {
    background: #CFF9E6 0% 0% no-repeat padding-box;
    opacity: 1;
}
.MostLightestGreen {
    background: #E7FBF3 0% 0% no-repeat padding-box;
    opacity: 1;
}
.DarkerRed {
    background: #A53F3F 0% 0% no-repeat padding-box;
    opacity: 1;
}
.DarkerRed {
    background: #CC4C4C 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Red {
    background: #F95E5A 0% 0% no-repeat padding-box;
    opacity: 1;
}
.LightRed {
    background: #FCAEAC 0% 0% no-repeat padding-box;
    opacity: 1;
}
.LighterRed {
    background: #FCC6C5 0% 0% no-repeat padding-box;
    opacity: 1;
}
.LightestRed {
    background: #FCD7D6 0% 0% no-repeat padding-box;
    opacity: 1;
}
.MostLightestRed {
    background: #FEEFEE 0% 0% no-repeat padding-box;
    opacity: 1;
}
.DarkerYellow {
    background: #996C2B 0% 0% no-repeat padding-box;
    opacity: 1;
}
.DarkYellow {
    background: #D89C3A 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Yellow {
    background: #FFBB43 0% 0% no-repeat padding-box;
    opacity: 1;
}
.LightYellow {
    background: #FFDDA1 0% 0% no-repeat padding-box;
    opacity: 1;
}
.LighterYellow {
    background: #FFF8EC 0% 0% no-repeat padding-box;
    opacity: 1;
}
.DarkerPurple {
    background: #353372 0% 0% no-repeat padding-box;
    opacity: 1;
}
.DarkPurple {
    background: #4C4499 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Purple {
    background: #6554C0 0% 0% no-repeat padding-box;
    opacity: 1;
}
.LightPurple {
    background: #B2A9DF 0% 0% no-repeat padding-box;
    opacity: 1;
}
.LighterPurple {
    background: #EFEEF9 0% 0% no-repeat padding-box;
    opacity: 1;
}
.DarkerTeal {
    background: #2497B2 0% 0% no-repeat padding-box;
    opacity: 1;
}
.DarkTeal {
    background: #2BAFD8 0% 0% no-repeat padding-box;
    opacity: 1;
}
.Teal {
    background: #30C3FC 0% 0% no-repeat padding-box;
    opacity: 1;
}
.LightTeal {
    background: #98E1FE 0% 0% no-repeat padding-box;
    opacity: 1;
}
.LighterTeal {
    background: #EAF9FF 0% 0% no-repeat padding-box;
    opacity: 1;
}