@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,600;1,400&display=swap');

h1 {
    text-align: left;
    font: 600 42px/50px 'Source Sans Pro';
    letter-spacing: 0.84px;
    color: #170C3A;
    opacity: 1;
}

h2 {
    text-align: left;
    font: 600 36px/40px 'Source Sans Pro';
    letter-spacing: 0.72px;
    color: #170C3A;
    opacity: 1;

}

h3 {
    text-align: left;
    font: 600 30px/36px 'Source Sans Pro';
    letter-spacing: 0.6px;
    color: #170C3A;
    opacity: 1;
}

h4 {
    text-align: left;
    font: 600 26px/32px 'Source Sans Pro';
    letter-spacing: 0.52px;
    color: #170C3A;
    opacity: 1;
}

h5 {
    text-align: left;
    font: 600 24px/30px 'Source Sans Pro';
    letter-spacing: 0.48px;
    color: #170C3A;
    opacity: 1;
}

body {
    text-align: left;
    font: 400 20px/26px 'Source Sans Pro';
    letter-spacing: 0.4px;
    color: #170C3A;
    opacity: 1;
}

body.small {
    text-align: left;
    font: 400 18px/24px 'Source Sans Pro';
    letter-spacing: 0.36px;
    color: #170C3A;
    opacity: 1;
}

body.smallest {
    text-align: left;
    font: 400 16px/22px 'Source Sans Pro';
    letter-spacing: 0.32px;
    color: #170C3A;
    opacity: 1;
}