.checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.checkbox-input {
    display: none;
}

.checkbox .checkbox-box {
    height: 1.25em;
    width: 1.25em;
    background: #F5F4F6;
    border: 1px solid #DEDCE1;
    border-radius: 3px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5em;
    flex-shrink: 0;
    transition: background 0.15s, boder-color 0.15s;
}

.checkbox-box::after {
    content: '\2714';
    color: #F5F4F6;
    transform: scale(0);
    transition: transform 0.15s;
}

.checkbox-input:checked + .checkbox-box {
    background: #365DF0;
    border: 1px  solid #365DF0;
    border-radius: 3px;
    opacity: 1;
}

.checkbox-input:checked + .checkbox-box::after {
    transform: scale(1);
}
